<div class="dashboard-container">
  <h2>Content de te revoir !</h2>
  <h3>{{ userRole }}</h3>

  <div class="stats-cards">
    <mat-card class="stat-card">
      <mat-icon>people</mat-icon>
      <p>{{ clientStats.activeClients }}</p>
      <span>Clients actifs</span>
    </mat-card>

    <mat-card class="stat-card">
      <mat-icon>people_outline</mat-icon>
      <p>{{ clientStats.inactiveClients }}</p>
      <span>Clients inactifs</span>
    </mat-card>

    <mat-card class="stat-card">
      <mat-icon>person_add</mat-icon>
      <p>{{ clientStats.installingClients }}</p>
      <span>En cours d'installation</span>
    </mat-card>
  </div>
</div>
