<!-- src/app/shared/components/sidebar/sidebar.component.html -->
<div class="sidebar" [ngClass]="{'collapsed': isCollapsed}" [@sidebarAnimation]="isCollapsed ? 'collapsed' : 'expanded'">
  <div class="sidebar-header">
    <div class="logo-container">
      <!-- Placeholder for logo (add your logo here) -->
      <div class="logo-placeholder"></div>
      <span class="title" *ngIf="!isCollapsed">ENERGY MAG</span>
    </div>
    <mat-icon class="toggle-icon" (click)="toggleSidebar()" [@toggleIconAnimation]="isCollapsed ? 'collapsed' : 'expanded'">
      {{ isCollapsed ? 'chevron_right' : 'chevron_left' }}
    </mat-icon>
  </div>
  <div class="sidebar-content">
    <a class="sidebar-item" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="!isCollapsed">Accueil</span>
    </a>
    <a class="sidebar-item" routerLink="/monitoring" routerLinkActive="active">
      <mat-icon>monitor</mat-icon>
      <span *ngIf="!isCollapsed">Monitoring</span>
    </a>
    <a class="sidebar-item" routerLink="/network-monitoring" routerLinkActive="active">
      <mat-icon>network_check</mat-icon>
      <span *ngIf="!isCollapsed">Network Monitoring</span>
    </a>
    <a class="sidebar-item" routerLink="/architecture" routerLinkActive="active">
      <mat-icon>apartment</mat-icon>
      <span *ngIf="!isCollapsed">Architecture</span>
    </a>
    <a class="sidebar-item" routerLink="/iot" routerLinkActive="active">
      <mat-icon>devices</mat-icon>
      <span *ngIf="!isCollapsed">IoT</span>
    </a>
    <a class="sidebar-item" routerLink="/projects" routerLinkActive="active">
      <mat-icon>folder</mat-icon>
      <span *ngIf="!isCollapsed">Projects</span>
    </a>
    <a class="sidebar-item" routerLink="/comparator-ia" routerLinkActive="active">
      <mat-icon>compare</mat-icon>
      <span *ngIf="!isCollapsed">Comparator IA</span>
    </a>
    <a class="sidebar-item" routerLink="/generator-regles-ia" routerLinkActive="active">
      <mat-icon>rule</mat-icon>
      <span *ngIf="!isCollapsed">Générateur de Règles IA</span>
    </a>
    <a class="sidebar-item" routerLink="/accounts" routerLinkActive="active" *ngIf="isAdmin || isSuperAdmin">
      <mat-icon>people</mat-icon>
      <span *ngIf="!isCollapsed">Accounts</span>
    </a>
  </div>
</div>